test.py
Flask-App/venv/Lib
Flask-App/venv/Scripts
Flask-App/venv/Images
Dlib_Windows_Python3.x
React-Native-App/node_modules
React-Native-App/digital-attendance/node_modules
Solve-a-thon
myqrcode.png
attendance.xlsx